@import url(http://fonts.googleapis.com/css?family=Fjalla+One|Roboto:400,500,700|Courgette);

*, *:before, *:after {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  margin: 0;
  height: 100%;
  position: relative;
  font-family: "Roboto";
  background-color: rgba(245,245,245,0.6);
}

h1 {
	font-family: "Fjalla One";
	margin-left: 1em;
	font-size: 2.1em;
}

h2 {
	font-size: 1.7em;
}

h2 a {
	color: #000;
	text-decoration: none;
}

h3 {
	font-family: "Fjalla One";
	font-size: .9em;
}

a {
	text-decoration: none;
	color: #000;
	border-bottom: 2px solid rgba(0,0,0,0);
	transition: border-bottom .5s ease;
}

a:hover {
	border-bottom: 1px solid #000;
}

nav {
	background: rgba(0,0,0,0.8);
	color: rgba(255,255,255,0.8);
}

nav ul {
	list-style-type: none;
}

nav ul li {
	float: left;
	padding: .5em;
	margin-right: 1.5em;
}

nav a {
	color: rgba(255,255,255,0.9);
}

nav a:hover {
	border-bottom: 1px solid rgba(255,255,255,0.9);
}

.clear-fix {
	float: none;
	clear: both;
}

main {
	padding: 2em;
	width: 90%;
	clear: both;
	margin-left: 1.5em;
}

.categories-container {
	width: 80%;
}

.categories-container section {
	float: left;
	width: 33%;
}

.categories-container section img {
	display: block;
	margin: 0 auto;
}

.categories-container section h2 {
	width: 80%;
	margin: 0 auto;
	margin-top: .3em;
	text-align: center;
	font-family: "Courgette", "Fjalla One", cursive;
}

hr {
	width: 80%;
	display: block;
	height: .5em;
	background-color: #000;
	margin-top: 2em;
	margin-bottom: 2.5em;
}

.post-text, .post-img {
	width: 70%;
}

.post-text h2, .post-img h2 {
	margin-bottom: 0;
}

.feed-description {
	float: left;
	width: 60%;
}

.img-text-featured {
	float: left;
}

.img-post-featured {
	margin: 0 auto;
	margin-bottom: 1em;
}

.img-post-featured img {
	display: block;
	margin: 0 auto;
	margin-bottom: 1em;
}

.img-feed-description {
	width: 70%;
	margin: 0 auto;
	clear: both;
}

.link-more {
	float: right;
	color: #000;
	font-family: "Fjalla One";
	text-decoration: none;
	border-bottom: 1px solid black;
}

footer {
	/*position: absolute;*/
	/*bottom: 0;*/
	/*width: 100%;*/
}