@import url(http://fonts.googleapis.com/css?family=Fjalla+One|Roboto:400,500,700);

*, *:before, *:after {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  margin: 0;
  height: 100%;
  position: relative;
  font-family: "Roboto";
}

h1 {
	font-family: "Fjalla One";
	margin-left: 1em;
	font-size: 2.1em;
}

h2 {
	font-size: 1.7em;
}

h3 {
	font-family: "Fjalla One";
	font-size: .9em;
}

nav {
	background: rgba(0,0,0,0.8);
	color: rgba(255,255,255,0.8);
}

nav ul {
	list-style-type: none;
}

nav ul li {
	float: left;
	padding: .5em;
	margin-right: 1.5em;
}

nav a {
	color: rgba(255,255,255,0.9);
	text-decoration: none;
}

.clear-fix {
	float: none;
	clear: both;
}

main {
	padding: 2em;
	width: 90%;
	clear: both;
	margin-left: 1.5em;
}

.feed-description {
	float: left;
	width: 60%;
}

.img-text-featured, .img-post-featured {
	float: left;
}

.img-post-featured {
	width: 40%;
	margin-bottom: 1em;
}

.img-feed-description {
	width: 40%;
	clear: both;
}

.link-more {
	float: right;
	width: 40%;
}

footer {
	/*position: absolute;*/
	/*bottom: 0;*/
	/*width: 100%;*/
}