@import url(http://fonts.googleapis.com/css?family=Fjalla+One|Roboto:400,500,700|Courgette);

*, *:before, *:after {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  margin: 0;
  height: 100%;
  position: relative;
  font-family: "Roboto";
  background-color: rgba(245,245,245,0.6);
}

h1 {
	font-family: "Fjalla One";
	margin-left: 1em;
	font-size: 2.1em;
}

h2 {
	font-size: 1.7em;
}

h2 a {
	color: #000;
	text-decoration: none;
}

h3 {
	font-family: "Fjalla One";
	font-size: .9em;
}

a {
	text-decoration: none;
	color: #000;
	border-bottom: 2px solid rgba(0,0,0,0);
	transition: border-bottom .5s ease;
}

a:hover {
	border-bottom: 1px solid #000;
}

nav {
	background: rgba(0,0,0,0.8);
	color: rgba(255,255,255,0.8);
}

nav ul {
	list-style-type: none;
}

nav ul li {
	float: left;
	padding: .5em;
	margin-right: 1.5em;
}

nav a {
	color: rgba(255,255,255,0.9);
}

nav a:hover {
	border-bottom: 1px solid rgba(255,255,255,0.9);
}

/* === Admin Nav === */
.nested {
	position: relative;
}

.nested ul {
	display: none;
	width: 150%;
	position: absolute;
	top: 2.2em;
	left: 0;
	background: rgba(0,0,0,.7);
	padding-left: 0;
	padding-right: 4em;

}

.nested:hover ul {
	display: block;
}

.nest ul li {
	float: none;
	margin-right: 0;
}

.clear-fix {
	float: none;
	clear: both;
}

main {
	padding: 2em;
	width: 90%;
	clear: both;
	margin-left: 1.5em;
}

.categories-container {
	width: 80%;
}

.categories-container section {
	float: left;
	width: 33%;
}

.categories-container section img {
	display: block;
	margin: 0 auto;
}

.categories-container section h2 {
	width: 80%;
	margin: 0 auto;
	margin-top: .3em;
	text-align: center;
	font-family: "Courgette", "Fjalla One", cursive;
}

.page-heading {
	font-family: "Courgette", "Fjalla One", cursive;
	font-size: 2.2em;
}

hr {
	width: 80%;
	display: block;
	height: .5em;
	background-color: #000;
	margin-top: 2em;
	margin-bottom: 2.5em;
}

.post-text, .post-img {
	width: 90%;
	max-width: 1050px;
}

.post-text h2, .post-img h2 {
	margin-bottom: 0;
}

.feed-description {
	float: left;
	width: 60%;
}

.img-text-featured {
	float: left;
}

.img-post-featured {
	margin: 0 auto;
	margin-bottom: 1em;
}

.img-post-featured img {
	display: block;
	margin: 0 auto;
	margin-bottom: 1em;
}

.img-feed-description {
	width: 70%;
	margin: 0 auto;
	clear: both;
}

.link-more {
	float: right;
	color: #000;
	font-family: "Fjalla One";
	text-decoration: none;
	border-bottom: 1px solid black;
}

.col-seventy {
	float: left;
	width: 70%;
	margin-right: 1em;
}

/* ===Login Page=== */
#login {
	width: 60%;
	margin: 0 auto;
}

#login input {
	width: 80%;
	padding: .8em;
	font-size: 1.5em;
}

#login input[type="submit"] {
	color: #FFF;
	background: rgba(0,0,0,0.8);
	transition: background .25s ease, color .25s ease;
}

#login input[type="submit"]:hover, #login input[type="submit"]:focus {
	background: rgba(0,0,0,0.4);
	color: #000;
}

/*  === Add Post === */


footer {
	/*position: absolute;*/
	/*bottom: 0;*/
	/*width: 100%;*/
}

/* MEDIA QUERIES */

@media screen and (max-width: 850px), (max-device-width: 850px) {

	.categories-container {
		width: 70%;
		margin: 0 auto;
		background: rgba(0,0,0,0.7);
		padding: .3em 0 .6em 0;
		border: 4px solid rgba(0,0,0,0.9);
	}

	.categories-container section {
		float: none;
		width: 100%;
		margin: .6em 0;
		padding: .2em;
	}

	.categories-container section a {
		color: rgba(245,245,245,0.9);
	}

	.categories-container section img {
		display: none;
	}

	.categories-container hr {
		display: none;
	}

	.categories-container section.category-selected {
		background: rgba(245,245,245,0.9);
	}

	.categories-container section.category-selected a {
		color: black;
	}

	.post-text, .post-img {
		width: 100%;
	}

	.feed-description {
		width: 100%;
	}

	.img-text-featured {
		float: none;
		display: block;
	}

	.img-text-featured img {
		width: 40%;
		margin: 0 auto;
	}
}